allure-pytest             2.13.2
allure-python-commons     2.13.2
attrs                     23.2.0
certifi                   2024.2.2
charset-normalizer        3.3.2
colorama                  0.4.6
Faker                     23.3.0
idna                      3.6
iniconfig                 2.0.0
Jinja2                    3.1.3
jsonschema                4.21.1
jsonschema-specifications 2023.12.1
six                       1.16.0
urllib3                   2.2.1


###Hybrid custom framework to test the REST API's

How to install packages -
pip install requests pytest pytest-html allure-pytest faker json

Tech Stack -
1. Python 3.11
2. Requests - Http Requests
3. PyTest - Testing Framework
4. Reporting - Allure, Pytest HTML reports
5. Test data - CSV, Excel, JSON
6. Parallel Execution - x distribute